#include "aspeed-ast2500-evb.dts"

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/gpio/aspeed-gpio.h>

/ {
  model = "AST2500 Custom Board";
  compatible = "custom,ast2500-custom-board",
    "aspeed,ast2500";
};

&fmc {
    status = "okay";
    flash@0 {
        status = "okay";
        m25p,fast-read;
        label = "bmc";
        /delete-node/ partitions;
        partitions {
            compatible = "fixed-partitions";
            #address-cells = <1>;
            #size-cells = <1>;

            u-boot@0 {
                reg = <0x0 0x60000>;
                label = "u-boot";
            };

            u-boot-env@60000 {
                reg = <0x60000 0x20000>;
                label = "u-boot-env";
            };

            /* 將 Kernel 的起始位址改成 0x100000，結束位址推到 0xA00000 */
            kernel@100000 {
                reg = <0x100000 0x900000>;
                label = "kernel";
            };

            /* 將 rofs 的起始位址改成 0xA00000 */
            rofs@a00000 {
                reg = <0xA00000 0x2000000>;
                label = "rofs";
            };

            /* rwfs 接在 rofs 之後直到 Flash 結束 */
            rwfs@2000000 {
                reg = <0x2A00000 0x1600000>;
                label = "rwfs";
            };
        };
    };
};

&{/} {
  leds {
    compatible = "gpio-leds";
    identify {
      label = "identify";
			default-state = "keep";
      gpios = <&gpio ASPEED_GPIO(H, 6) GPIO_ACTIVE_LOW>;
    };
  };
};

&gpio {
  status = "okay";
  gpio-line-names =
  /* A0-A7 */ "","","","","","","","",
  /* B0-B7 */ "","","","","","","","",
  /* C0-C7 */ "","","","","","","","",
  /* D0-D7 */ "POWER_BUTTON","","RESET_BUTTON","","","","POWER_GOOD","",
  /* E0-E7 */ "","","","","","","","",
  /* F0-F7 */ "","","","","","","","",
  /* G0-G7 */ "","","","","","","","",
  /* H0-H7 */ "","","","","","","identify","";
};

&mac1 {
  status = "disabled";
};

&i2c3 {
  status = "okay";

  lm95241@2b {
    compatible = "national,lm95241";
    reg = <0x2b>;
  };
};
